aesara==2.9.4
aiohttp==3.11.7
albumentations==1.4.21
amdsmi==6.2.4
AppKit==0.2.8
astunparse==1.6.3
av==13.1.0
backports.statistics==0.1.0
beartype==0.19.0
beautifulsoup4==4.12.3
bokeh==3.6.1
boto3==1.35.68
botocore==1.35.68
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
cartopy==0.24.1
cftime==1.6.4.post1
chardet==5.2.0
clip==0.2.0
colorama==0.4.6
comet_ml==3.47.3
conda==4.3.16
coremltools==8.1
cryptography==43.0.3
ctypes_snappy==1.03
Cython==3.0.5
deeplearning==0.0.1
defcon==0.10.3
defusedxml==0.7.1
diffusers==0.31.0
dill==0.3.9
dl==0.1.0
docutils==0.20.1
dvclive==3.48.0
etcd==2.0.8
expecttest==0.2.1
fastcluster==1.2.6
fastparquet==2024.11.0
Flask==3.1.0
flatbuffers==23.5.26
flint==0.0.1
foo==.1
Foundation==0.1.0a0.dev1
freetype_py==2.5.1
gdown==5.2.0
genapi==0.0.8
glyphsLib==6.9.5
gmpy2==2.2.1
h2==4.1.0
h5py==3.11.0
hatchet==1.4.0
hub_sdk==0.0.16
hypothesis==6.119.4
ipaddr==2.2.0
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.0
isal==1.7.1
jaraco.util==15.0.0
kerchunk==0.2.7
keyring==25.5.0
lap==0.4.0
lapx==0.5.5
lmdb==1.5.1
lvis==0.5.3
lxml==5.3.0
lz4==4.3.3
lzmaffi==0.3.0
matchpy==0.5.5
mayavi==4.8.2
mct_quantizers==1.5.2
MNN==3.0.0
mock==5.1.0
model_compression_toolkit==2.2.2
monkeytype==23.3.0
moviepy==2.1.1
mss==10.0.0
mtrand==0.1
multiset==3.2.0
munkres==1.1.4
mypy==1.13.0
mypy_extensions==1.0.0
ncnn==1.0.20240820
nncf==2.14.0
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.10.2
odfpy==1.4.1
olefile==0.47
onnx2tf==1.26.2
onnxscript==0.1.0.dev20240208
onnxslim==0.1.41
openpyxl==3.1.5
openvino==2024.5.0
optree==0.13.1
ordereddict==1.1
paddle==1.0.2
pafy==0.5.5
panel==1.5.4
paramiko==3.5.0
pickle5==0.0.12
pillow_heif==0.20.0
pooch==1.8.2
psycopg2==2.9.10
pycocotools==2.0.8
pycosat==0.6.6
pydot==3.0.2
pydy==0.7.1
pygit2==1.16.0
pyglet==2.0.18
pygraphviz==1.14
PyInstaller==6.11.1
pymc==5.18.2
pymc3==3.11.6
pynvml==11.5.3
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
pysat==3.2.1
PySide2==5.15.2.1
PySide6==6.8.0.2
pytest==7.4.3
pytest_timeout==2.3.1
pytorch_lightning==2.4.0
pytubefix==8.5.2
pyxlsb==1.0.10
qtpy==2.4.2
Quartz==0.0.1.dev0
railroad==0.5.0
ray==2.39.0
redis==5.2.0
reportlab==4.2.5
requests_kerberos==0.15.0
Res==0.1.7
roboflow==1.1.49
s3fs==2024.10.0
safetensors==0.4.5
sage==0.0.0
scikit_learn==1.3.2
scikits.talkbox==0.2.5
selenium==4.26.1
sentry_sdk==2.19.0
setuptools_scm==8.1.0
Shapely==2.0.6
shiboken2==5.15.2.1
shiboken6==6.8.0.2
simplejson==3.19.3
sip==6.8.6
slack_sdk==3.33.4
smbprotocol==1.15.0
sony_custom_layers==0.2.0
Sphinx==8.1.3
SQLAlchemy==2.0.36
statsmodels==0.14.4
streamlit==1.40.1
super_gradients==3.7.1
symengine==0.13.0
tabulate==0.9.0
tensorflowjs==4.22.0
tflite_runtime==2.14.0
tflite_support==0.4.4
theano==1.0.5
threadpoolctl==3.5.0
torch_xla==2.5.1
torcharrow==0.1.0
torchaudio==2.1.1+cu118
torchrec==1.0.0
tornado==6.3.3
traitlets==5.14.3
tritonclient==2.51.0
ufoLib2==0.17.0
uharfbuzz==0.43.0
ujson==5.10.0
unicodedata2==15.1.0
unittest2==1.1.0
wandb==0.18.7
Werkzeug==3.1.3
wincertstore==0.2.1
wmi==1.5.1
x2paddle==1.5.0
xarray==2024.11.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrunner==1.7.7
yarl==1.18.0
yt_dlp==2024.11.18
z3==0.2.0
zopfli==0.2.3.post1
zstandard==0.23.0
